%title Color World
.main
  .topstrip
    %header.mainheader
      %a{:href => "#"}
        =image_tag("cwl2.png",class:"logo")
      %nav
        %ul
          %li
            %a{:href => "#"}
              %p Gallery
              %p the beautiful world
          %li
            %a{:href => "#"}
              %p Feed
              %p your life .
      %h1 Sharing photos and life style.
      %h2
        Save your best moments of your life as often as you can,one day its gonna be your most precious things.
        %a{:href => "#"} Log in
        or 
        %a{:href => "#"} Join us now
        to start sharing
  .aboutUs
    .allAbout
      %section.textcontent
        %h1 About Us
        %p
          Bach Khoa University Of Science And Technology
          %br/
          20121867 - Nguyen Ngoc Hung
          %br/
          20122035 - Nguyen Khac Luong
          %br/
          20121864 - Nguyen Duy Hung
          %br/
          20124846 - Nguyen Thanh Luan
          %br/
          20122067 - Truong Tien Manh
    %div
      %p .
// :javascript
//   $(window).scroll(function(){
//     if($(window).scrollTop() > 740){
//         $("#navbar-inverse").slideDown("fast");
//         document.getElementById('navbar-display').style.display = 'block';

//     }
//   });
//   $(window).scroll(function(){
//     if($(window).scrollTop() < 740){
//         $("#navbar-inverse").slideUp("fast");
//         document.getElementById('navbar-display').style.display = 'none';
//     }
//   });