:javascript
  document.getElementById('navbar-display').style.display = 'block';
.container-fluid{:style =>"margin-top:10%;"}
  .col-md-4
  .col-md-4
    %h3 Upload Images
    .control-group
      = form_for @post, html: { class: 'form-group', multipart: true } do |f|
        .control.btn.btn-default
          = f.file_field :image
        %p Caption:
        .form-group
          = f.text_field :caption,class:'form-control input-lg',placeholder:"Caption"
        .form-group
          = f.button :Submit, class: 'btn btn-success'