// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  a, span, em 
    {padding: 0.2em 0.5em}
  .disabled
    {color: #aaaaaa}
  .current
    {font-style: normal;
    font-weight: bold;
    color: #ff0084}
  a
    {border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none;
    &:hover, &:focus
      {border-color: #003366;
      background: #0063dc;
      color: white}}
  .page_info
    {color: #aaaaaa;
    padding-top: 0.8em}
  .previous_page, .next_page
    {border-width: 2px}
  .previous_page
    {margin-right: 1em}
  .next_page
    {margin-left: 1em}
}
.post-wrapper{
  margin-top: 50px;
  background: #212124;
  min-height: 620px;
}
.image-wrapper{
  img{
    display: block;
    margin: auto;
    padding-top: 80px;
    height: 510px;
    width: auto;
  }
}
.post-info{
  float: right;
  background: #f3f5f6;
  padding: 20px;
  padding-left: 15px;
  width: 350px;
  height: 620px;
  overflow: auto;
}
.avatar{
  float: left;
  width: 60px;
  height: 60px;
  background-image: url(http://hinhanhdep.pro/content/uploads/2016/04/avatar-de-thuong-.jpg);
  background-size: 60px 60px;
  border-radius: 100%;
}
.caption{
  text-align: left;
  margin-left: 70px;
  padding-bottom: 10px;
  font-family: "Proxima Nova","helvetica neue",helvetica,arial,sans-serif;
  border-bottom: 1px solid #cfd6d9;
}
.user-name{
  font-size: 20px;
  font-weight: 600;
}
.time-ago{
  font-style: oblique;
  color: #999;
}
.like{
  padding: 20px 20px 0px 30px;
  .glyphicon{
    font-size: 20px;
    color: #bd3333;
    float: left;
  }  
  .like-count{
    margin-left: 40px;
    min-width: 228px;
    border-bottom: 1px solid #cfd6d9;
    padding-bottom: 20px;
  }
}
.comment-like-form{
  .avatar{
    float: left;
    margin-left: 20px;
    width: 35px;
    height: 35px;
    background-image: url(http://hinhanhdep.pro/content/uploads/2016/04/avatar-de-thuong-.jpg);
    background-size: 35px 35px;
    border-radius: 100%;
  }
  .comment-form{
    margin-left: 70px;
    margin-top: 10px;
    .new_comment{
      .comment_content{
        min-width: 230px;
        min-height: 80px;
        border-radius: 4px;
        border: 1px solid #006dac;
        padding: 10px;
      }
    }
    .btn.btn-primary{
      margin: 10px 0px 0px 140px; 
      font-weight: 600; 
      line-height: 1;
    }
  }
}